Modelle/
Features/
Test_Set/
Test_Plots/
Historie_Plots/
.gitignore/
Historie_Plots/
Features_LableHalfYear_Target/
Plot_LableHalfYear_Target/
Plots_LableHalfYear/
F_ScalingHalfYear/
Plots_ScalingHalfYear/
