Modelle/
Features/
Test_Set/
Test_Plots/
2000040_Test/
2000040_Test_2/
2000040_Test_3/
C:\Users\Karel\Desktop\Bachelor-Arbeit\Praxis-Projekt\CLI_AGENTS_MAKE_ML\AGENTS_MAKE_ML\2000040_Test_4/
Historie_Plots/
.gitignore/

